<div class="palm-row" x-mojo-tap-highlight="momentary">
	<div class="palm-row-wrapper">
		<div name='toggleButton' x-mojo-element='ToggleButton'></div>
		<div class='name truncating-text'>#{-name}</div>
		<div class='info truncating-text'>#{-infoFormatted}</div>
		<div class='info truncating-text' style='padding-bottom: 10px; width: 290px'>
			<span class='truncating-text' style='float: left max-width: 50%'>#{-nextFormatted}</span>
			<span class='truncating-text' style='float: right; max-width: 50%'>#{-soundFormatted}</span>
		</div>
	</div>
</div>