<div class="palm-header left">
    <div id='toggleButton' x-mojo-element="ToggleButton"  class="toggle-text"></div>
    <div class="title">Alarm Preferences </div>
</div>

<div class='palm-header-spacer'></div>
<div class='palm-list'>
	<div class="palm-row" x-mojo-focus-highlight="true">
		<div class="palm-row-wrapper textfield-group white">     
			<div class='label right'>Name</div>
			<div class="title white">
				<div id='textField' x-mojo-element="TextField"></div>
			</div>
		</div>
	</div>
	<div class="palm-row" x-mojo-tap-highlight="momentary">
		<div class="palm-row-wrapper">
			<div id="listSelector" x-mojo-element="ListSelector"></div>
		</div>
	</div> 
	<div class="palm-row">
		<div class="palm-row-wrapper">     
			<div class="title">
				<div id='timePicker' x-mojo-element="TimePicker"></div>
			</div>
		</div>
	</div>
	<div class="palm-row last" x-mojo-tap-highlight="momentary">
		<div class="palm-row-wrapper">     
			<div class='label right'>
				Sound
			</div>
			<div id='sound' class="title">
				
			</div>
		</div>
	</div>
</div>